<router-outlet>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a href="/main">HOME</a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="/register">View</a>
      <a mat-button routerLink="/login">About us</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div
    style="
      text-align: center;
      width: 100%;
      background-color: rgb(180, 130, 64);
      padding-bottom: 20px;
      padding-top: 20px;
      font-size: xx-large;
    "
  >
    <span>ರಾಜ್ಯ ಒಕ್ಕಲಿಗ,ಗೌಡ ರಕ್ಷಣಾ ವೇದಿಕೆ (ನೋಂ)</span>
  </div>
  <!-- <div class="divLeft">
    <span>Registration Count</span><br /><span>10</span>
  </div> -->
  <div class="divRight">
    <img height="100" src="./assets/kemp.png" alt="..." />
    <img height="100" src="./assets/BGS.png" alt="..." />
    <img height="100" src="./assets/nirm.png" alt="..." />
    <img height="100" src="./assets/kuv.png" alt="..." />
  </div>
</router-outlet>
